html, body {
  height: 100%;
  margin: 0;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -55px !important;
  max-width: 1000px;
  margin: 0 auto;
}
.page-wrap:after {
  content: "";
  display: block;
}
.credentials, .page-wrap:after {
  padding-top: 20px;
  height: 35px;
}
.credentials p {
  font-weight: 300;
  font-family: 'Source Sans Pro', calibri, Arial, sans-serif;
  margin: 0;
  text-align: center;
  font-size: 14px;
}
.credentials a {
  margin: 0;
  color: black;
}
.credentials a:hover {
  text-decoration: none;
}
.credentials p.built {
  font-size: 12px;
}