#content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1000px;
  margin: auto;
}

#content {
  flex: 1;
}

footer {
  height: 35px;
  padding-top:20px;
}

footer p {
  font-weight: 300;
  font-family: 'Source Sans Pro', calibri, Arial, sans-serif;
  margin: 0;
  text-align: center;
  font-size: 14px;
}
footer a {
  margin: 0;
  color: black;
}
footer a:hover {
  text-decoration: none;
}
footer p.built {
  font-size: 12px;
}