::ng-deep #content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

::ng-deep #content {
  flex: 1;
  max-width: 1000px;
  margin: 0 auto;
}

::ng-deep footer {
  height: 35px;
  padding-top:20px;
}

::ng-deep footer p {
  font-weight: 300;
  font-family: 'Source Sans Pro', calibri, Arial, sans-serif;
  margin: 0;
  text-align: center;
  font-size: 14px;
}
::ng-deep footer a {
  margin: 0;
  color: black;
}
::ng-deep footer a:hover {
  text-decoration: none;
}
::ng-deep footer p.built {
  font-size: 12px;
}