@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300);

* {
  font-weight: 300;
  font-family: 'Source Sans Pro', calibri, Arial, sans-serif;
}
a:hover {
  text-decoration: none;
  color: orangered;
}
a {
  margin: 0 10px;
  color: orange;
}