@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300);

* {
  font-weight: 300;
  font-family: 'Source Sans Pro', calibri, Arial, sans-serif;
}
a:hover {
  text-decoration: none;
  color: orangered;
}
a {
  margin: 0 10px;
  color: orange;
}

.service_worker_snack { // can be removed when https://github.com/angular/material2/pull/4045 will be merged
  position: absolute;
  bottom: 10px;
  left: 10px;
}