@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../assets/fonts/SourceSansPro-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(../assets/fonts/SourceSansPro-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(../assets/fonts/SourceSansPro-SemiBold.ttf) format('ttf');
}

body {
  padding-top: 10px;
}

* {
  font-weight: 300;
  font-family: 'Source Sans Pro', calibri, Arial, sans-serif;
}
a:hover {
  text-decoration: none;
  color: orangered;
}
a {
  margin: 0 10px;
  color: orange;
}