span {
    display: block;
    margin-bottom: 20px;
}
input {
    width: 200px;
}

div.ng-http-sw-proxy {
    padding: 0 !important;
}

.ng-http-sw-proxy img {
    margin-top: 20px;
}
@media (max-device-width: 768px) {
    div.content div {
        padding-top: 130px;
    }
    img {
        width: 100%
    }
}

@media (min-device-width: 768px) {
    div.content div {
        padding-top: 320px;
    }
}