<h1>Donors</h1>
<div class="wrapper">
    <div>
        <p>This project is my 'after-hours' work. I am devoting my private time and resources for its <strong><i>continuous</i></strong> evolution.</p>
        <p>Here is the of donations made by the community. I am thanking for all of them:</p>
        <ul>
            <li><a href="https://www.linkedin.com/in/omrinavot/">Omri Navot</a> - 50 USD</li>
            <li><a href="https://github.com/martinambrus">Martin Ambrus</a> - 15 USD + 5 USD (monthly)</li>
            <li><a href="https://twitter.com/bjeaurn">Bjorn 'Bjeaurn'</a> - 5 USD + 5 USD (monthly)</li>
            <li><a href="https://twitter.com/WebWhizJim">Jim Lynch</a> - 2 USD (monthly)</li>
            <li>Nice French Angular trainers:
                <ul>
                    <li><a href="https://www.linkedin.com/in/christophegueroult/">Christophe Gueroult</a> - 15 USD (yearly)</li>
                    <li><a href="https://www.linkedin.com/in/pierrenédélec/">Pierre Nédélec</a> - 15 USD (yearly)</li>
                </ul>
            </li>
            <li><a href="https://twitter.com/vogloblinsky">Vincent Oglobinsky</a> - 10 USD</li>
            <li><a href="https://twitter.com/Ramesh_Mavuluri">Ramesh Mavuluri</a> - 10 USD</li>
        </ul>
    </div>
    <div>
        <h2>Don't be shy and become one of donors!</h2><p>Here is the list of pages where you can donor this project:</p>
        <ul>
            <li><a href="https://opencollective.com/ng-toolkit">Open Collective</a></li>
            <li><a href="https://donorbox.org/ng-toolkit">Donorbox</a></li>
            <li><a href="https://liberapay.com/maciejtreder/donate">Liberapay</a></li>
            <li><a href="https://www.paypal.me/ngtoolkit">Paypal.me</a></li>
        </ul>
    </div>
</div>
