h1,h2 {
  text-align: center;
}
h1 {
  color: orange;
  height: 30px;
  margin: 0 0 17px;
}

header {
  margin-bottom: 3px;
}

header.fixed {
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #c2c2c2;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  background: #f8f8f8;
}

menu {
  padding: 0;
  margin: 0 0 6px;
}

h2 {
  color: cornflowerblue;
  font-size: 20px;
}

.menu-button {
  background-color: cornflowerblue;
  color: white;
  float: left;
  margin: 3px 0 0 3px;
}

md-sidenav .menu-button {
  position: static;
  float: right;
  margin: 3px 3px 0 0;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}


#content-wrapper.headerFixed.desktop {
  padding-top: 50px;
}

#content-wrapper.headerFixed.mobile {
  padding-top: 48px;
}