h1,h2 {
  text-align: center;
}

h1 {
  color: orange;
  font-size: 32px;
  width: 100%;
  margin: 16px 0 7px;
}

md-toolbar {
  position: fixed;
  z-index: 1;
}

md-toolbar.withNav {
  height: 100px;
}

md-toolbar div {
  width: 100%;
  height: 100%;
}

md-toolbar, md-sidenav > div {
  border-bottom: 1px solid #c2c2c2;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background: #f8f8f8;
}

menu {
  padding: 0;
  margin: 0 0 6px;
}

h2 {
  color: cornflowerblue;
  font-size: 20px;
}

.menu-button {
  background-color: cornflowerblue;
  color: white;
  float: left;
  margin: -5px 0 0 -5px;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}


#content-wrapper.desktop {
  padding-top: 64px;
}

#content-wrapper.mobile {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 64px;
  -webkit-overflow-scrolling: touch;
}

md-sidenav > div {
  width: 100%;
  height: 64px;
  position: absolute;
  z-index: 2
}

md-sidenav > div button {
  float: right;
  margin: 12px;
}