div {
  background: url('../assets/img/sandbox.gif') no-repeat center;
  height: 350px;
  position: relative;
}
h3 {
  position: relative;
  color: deepskyblue;
  text-align: center;
  top: 35px;
  left: -10px;
}
