/* Dawn by David Powers, converted from TextMate theme (Dawn.tmTheme) */

.panelNode-script {
    font-size: 11px;
    background-color: #F9F9F9;
    font-family: Monaco, Courier New;
    color: #080808;
}

.sourceRow.hovered {
    background-color: #2463B4;
}

.sourceRow[exeLine="true"] {
    background-color: #275FFF;
}

.js-comment, .xml-comment, .css-comment {
    color: #5A525F;
}

.js-atom {
    font-weight: bold;
    color: #811F24;
}

.js-keyword {
    color: #794938;
}

.js-variable {
    color: #234A97;
}

.js-regexp {
    color: #CF5628;
}
