.panelNode-script {
    background-color: #FFFFFF;
    color: black;
    font-family: Monaco,Monospace,Courier New !important;
    font-size: 11px;
}
.sourceRow.hovered {
    background-color: #EEEEEE;
}
.sourceLine {
    background: #EEEEEE none no-repeat scroll 2px 0;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #CCCCCC;
    color: #888888;
}
.sourceLine:hover {
    text-decoration: none;
}
.scriptTooltip {
    background: LightYellow none repeat scroll 0 0;
    border: 1px solid #CBE087;
    color: #000000;
}
.sourceRow[exeline="true"] {
    background-color: lightgoldenrodyellow;
    outline-color: #D9D9B6;
    outline-style: solid;
    outline-width: 1px;
}
.xml-text {
    color: black;
}
.whitespace {
    color: black;
}
.xml-punctuation {
    color: gray;
}
.xml-tagname {
    color: blue;
}
.xml-attname {
    color: darkred;
}
.xml-attribute {
    color: darkgreen;
}
.css-at {
    color: darkred;
}
.css-string {
    color: red;
}
.css-punctuation {
    color: midnightblue;
}
.js-keyword {
    color: blue;
}
.js-variable {
    color: black;
}
.js-operator {
    color: black;
}
.js-punctuation {
    color: darkBlue;
}
.js-variabledef {
    color: darkslategray;
}
.js-localvariable {
    color: darkslateBlue;
}
.js-property {
    color: teal;
}
.js-string {
    color: darkgreen;
}
.js-atom {
    color: saddleBrown;
}
.xml-comment {
    color: gray;
}
.css-identifier {
    color: midnightBlue;
}
.css-select-op {
    color: cadetblue;
}
.css-unit {
    color: orangered;
}
.css-value {
    color: black;
}
.css-colorcode {
    color: magenta;
}
.js-comment {
    color: gray;
}
.js-regexp {
    color: magenta;
}
.xml-entity {
    color: darkgoldenrod;
}
.xml-error {
    color: orangered;
}
.css-comment {
    color: gray;
}