<h1>Donors</h1>
<div class="wrapper">
    <div>
        <p>This project is my 'after-hours' work. I am devoting my private time and resources for its <strong><i>continuous</i></strong> evolution.</p>
        <p>Here is the of donations made by the community. I am thanking for all of them:</p>
        <ul>
            <li>anonymous person - 15 USD</li>
        </ul>
    </div>
    <div>
        <h2>Don't be shy and become one of donors!</h2>
        <script src="https://donorbox.org/widget.js" type="text/javascript"></script><iframe src="https://donorbox.org/embed/angular-universal-pwa" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest ></iframe>
    </div>
</div>
