<h1>Donors</h1>
<div class="wrapper">
    <div>
        <p>This project is my 'after-hours' work. I am devoting my private time and resources for its <strong><i>continuous</i></strong> evolution.</p>
        <p>Here is the of donations made by the community. I am thanking for all of them:</p>
        <ul>
            <li><a href="https://github.com/martinambrus">martinambrus</a> - 15 USD</li>
        </ul>
    </div>
    <div>
        <h2>Don't be shy and become one of donors!</h2><p>Here is the list of pages where you can donor this project:</p>
        <ul>
            <li><a href="https://opencollective.com/angular-universal-pwa">Open Collective</a></li>
            <li><a href="https://donorbox.org/angular-universal-pwa">Donorbox</a></li>
            <li><a href="https://liberapay.com/maciejtreder/donate">Liberapay</a></li>
        </ul>
    </div>
</div>
